<div class="row justify-content-center m-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">DNI</div>
        <div class="card-body">
            <h5>Calcular letra del DNI</h5>
          <div class="input-group">
            <input class="form-control" type="number" [(ngModel)]="dni" placeholder="Introduce el NIF">
          </div>
          <strong *ngIf="dni!=null">Tu letra del DNI es: {{dni|dni}}</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Saludar</div>
        <div class="card-body">
            <h5>Introduce tu nombre y apellidos</h5> 
          <div class="input-group">
            <input class="form-control" type="text" [(ngModel)]="nombre" placeholder="Tu nombre">
            <input class="form-control" type="text" [(ngModel)]="apellidos" placeholder="Tus apellidos">
          </div>
          <button class="btn btn-primary btn-block" (click)="navegarHacia()">IR</button>
        </div>
      </div>
    </div>
  </div>
