#contenedor-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "texto suma"
                "letras obj";
    gap: 1.5rem;
}

#contenedor-texto {
    grid-area: texto;
    text-align: center;
    box-shadow: 2px 2px 1px coral;
}

#contenedor-suma {
    grid-area: suma;
    text-align: center;
    box-shadow: 2px 2px 1px coral;
}

#contenedor-arrayLetras {
    grid-area: letras;
    text-align: center;
    list-style-type: none;
    box-shadow: 2px 2px 1px coral;
}

#contenedor-arrayObj {
    grid-area: obj;
    text-align: center;
    list-style: none;
    list-style-type:square;
    box-shadow: 2px 2px 1px coral;
}

footer {
height: 50px;
text-align: center;
}

.jumbotron > * {
    font-family: 'Alfa Slab One';
}

.jumbotron {
    background-color: orange;
    color: #8E239E;
}

.jumbotron:hover {
    color: #8E239E;
    background-color: #84EB42;
}

.card {
    height: 50vh;
    background-color: orange;
}

.card:hover {
    background-color: #5DEE5A;
}



.card-header {
    background-color:#9A239E;
}

.card-body {
    background-color: #orange;
}

h4 {
    color: white;
}

.btn-j {
    background-color: white;
    color: black;
}

button:hover {
    color: black;
    background-color: #EBB56C;
}