<div class="card mt-4 mx-auto" style="width: 70vh;">
    <div class="card-header">
        <h4 class="card-title text-center">Formulario de coches</h4>
    </div>

    <div *ngIf="coches.length" class="text-center list-group list-group-flush">
        <table class="table ">
            <thead>
                <tr>
                    <th>id</th>
                    <th>marca</th>
                    <th>modelo</th>
                    <th>cv</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let coche of coches" (click)="cocheSel = coche">
                    <td>{{coche.id}}</td>
                    <td>{{coche.marca}}</td>
                    <td>{{coche.modelo}}</td>
                    <td>{{coche.cv}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-body">
        <input class="form-control" type="text" [(ngModel)]="cocheNuevo.marca" placeholder="Marca">
        <input class="form-control" type="text" [(ngModel)]="cocheNuevo.modelo" placeholder="Modelo">
        <input class="form-control" type="text" [(ngModel)]="cocheNuevo.cv" placeholder="CV">
        <button [disabled]="deshabilitar()" class="btn btn-primary btn-block mt-2" (click)="insertarCoche()">Insertar coche</button>
    </div>
    <div *ngIf="cocheSel.marca" class="card-body">
        <hr>
        <input class="form-control" type="text" [(ngModel)]="cocheSel.marca" placeholder="Marca">
        <input class="form-control" type="text" [(ngModel)]="cocheSel.modelo" placeholder="Modelo">
        <input class="form-control" type="text" [(ngModel)]="cocheSel.cv" placeholder="CV">
        <button class="btn  btn-block mt-2" (click)="editarCoche()">Editar coche</button>
        <button class="btn btn-danger btn-block" (click)="eliminarCoche()">Eliminar coche</button>
    </div>
</div>