.card-header {
    background-color:#9A239E;
}
.card, 
.card-body {
    background-color: #84EB42;
}

h4 {
    color: white;
}

button {
    background-color: orange;
    color: black;
}

button:hover {
    color: black;
    background-color: orangered;
}

.list-group-item {
    background-color: orange;
}

.btn-danger {
    background-color: red;
}

thead, tbody {
    background-color: orange;
}

