<div class="mx-auto m-4" style="width: 70vh;">
<div class="card">
    <div class="card-header h5 text-center">Mi Perfil</div>
    <div class="card-body">

        <div class="row">
    <div class="col-md-6">
        <strong>Nombre:</strong>
        <p class="list-group-item">{{perfil.nombre}}</p>
        <strong>Apellidos:</strong>
        <p class="list-group-item">{{perfil.apellidos}}</p>
        <strong>DNI:</strong>
        <p class="list-group-item">{{perfil.dni}}</p>
    </div>
    <div class="col-md-6">
        <strong>Teléfono:</strong>
        <p class="list-group-item">{{perfil.telefono}}</p>
        <strong>Email:</strong>
        <p class="list-group-item">{{perfil.email}}</p>
        <img class="m-2" src="{{perfil.imgSrc}}" width="200px">
         </div>
        </div>
        <button class="btn btn-primary btn-block" (click)="mostrarEditar=!mostrarEditar;">Editar usuario</button>
        <button class="btn btn-primary btn-block" (click)="mostrarEliminar=!mostrarEliminar;">Eliminar usuario</button>
    </div>
</div>
<div class="card">
    <div class="card-body" *ngIf="mostrarEditar">

        <form [formGroup]="formPerfil" (submit)="editarPerfil()">
            <input type="text" formControlName="nombre" placeholder="Nombre"><br>
            <input type="text" formControlName="apellidos" placeholder="Apellidos"><br>
            <input type="text" formControlName="password" placeholder="Password"><br>
            <input type="text" formControlName="email" placeholder="Email"><br>
            <input type="text" formControlName="telefono" placeholder="Teléfono"><br>
            <button class="btn btn-primary btn-block" [disabled]="formPerfil.invalid" type="submit">Guardar cambios</button>
        </form>

        <button class="btn btn-primary btn-block" (click)="mostrarEditar=!mostrarEditar">Cancelar</button>
    </div>
</div>
<div class="card" *ngIf="mostrarEliminar">
    <div class="card-header h5 text-center">Para eliminar tu perfil introduce tu email</div>
    <div class="card-body">
        <input type="text" [(ngModel)]="inputBorrar" placeholder="Email...">
        <button class="btn btn-primary btn-block" (click)="mostrarEliminar=!mostrarEliminar; inputBorrar=''">Cancelar</button>
        <button class="btn btn-primary btn-block" (click)="eliminarUsuario()" [disabled]="inputBorrar!=perfil.email">Eliminar</button>
    </div>
</div>

<form [formGroup]="formImagen" (submit)="subirImagen()">
    <input type="file" formControlName="imagen" (change)="cambiaImagen($event)">
    <button class="btn btn-primary btn-block" type="submit">Subir imagen de perfil</button>
</form>
<hr>
<!--Con parámetros-->
<input type="file" (change)="tengoFoto($event)">
<button class="btn btn-primary btn-block" type="button" (click)="subirFoto()">Subir imagen por parámetro</button>
</div>